<h2>本一覧</h2>
<% japanese_syllabary = []%>
<% japanese_syllabary = [*"ｱ".."ﾝ"].map{ |chr| NKF.nkf("-h1w", NKF.nkf("-Xw", chr)) }.insert(-10, "").insert(-9, "").insert(-2, "").insert(-2, "を").insert(-1, "") %>
<% japanese_syllabary.each do |f| %>
  <%= link_to "#{f}", books_path(syllabary_search: "#{f}", search: 'true'), id: "a_search" %>
<% end %>

<%= form_with(url: books_path,  method: :get, local: true ) do |f| %>
  <div class="form-group">
    <%= f.label :title_search, 'タイトル検索' %>
    <%= f.text_field :title_search, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :search, value: 'true' %>
  </div>
  <%= f.submit '検索', class: 'btn btn-primary' %> <%= link_to "リセット", admin_books_path, class: 'btn btn-primary' %>
<% end %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
    　<tr>
      <th>タイトル</th>
      <th>最新刊</th>
      <th><%#=ボタン部分のborder延長%></th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, admin_book_path(book) %></td>
        <% volumes = [] %>
        <% book.book_details.map do |f| %>
          <% volumes.push(f.volume) %>
        <% end %>
        <td><%= "#{volumes.max}巻" %></td>
        <td>
          <%= link_to '編集', edit_admin_book_path(book), class: 'btn btn-primary mr-3' %>
          <%= link_to '削除', book, method: :delete,
                      data: { confirm: "タスク「#{book.title}」を削除します。よろしいですか？"},
                      class: 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>