<h2>本一覧</h2>
<%= link_to "あ", books_path(title_search: 'あ', search: 'true'), id: "a_search" %>

<%= form_with(url: books_path,  method: :get, local: true ) do |f| %>
  <div class="form-group">
    <%= f.label :title_search, 'タイトル検索' %>
    <%= f.text_field :title_search, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :search, value: 'true' %>
  </div>
  <%= f.submit '検索', class: 'btn btn-primary' %> <%= link_to "リセット", books_path, class: 'btn btn-primary' %>
<% end %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
    　<tr>
      <th>タイトル</th>
      <th>最新刊</th>
      <th>次巻</th>
      <th><%#=ボタン部分のborder延長%></th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%#= book_details.volume%></td>
        <td><%#= book_details.volume + 1%></td>
        <td>
          <% @bookmark = current_user.bookmarks.find_by(book_id: book.id)%>
          <% if @bookmark.present?%>
            <%= link_to '通知登録を解除する', book_bookmarks_path(book.id),
                        method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to '通知登録する', book_bookmarks_path(book.id),
                        method: :post, class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>