<h2>本詳細</h2>
<%= link_to '戻る',:back, class: 'btn btn-primary mr-3' %>

<table class="table table-hover">
  <tbody>
  <tr>
    <th>タイトル</th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th>著者</th>
    <td><%= @book.author%></td>
  </tr>
  <tr>
    <th>レーベル</th>
    <td><%= @book.label %></td>
  </tr>
  <tr>
    <th>発行形態</th>
    <td><%= @book.issue_from %></td>
  </tr>
  </tbody>
</table>

<% @bookmark = current_user.bookmarks.find_by(book_id: @book.id)%>
<% if @bookmark.present?%>
  <%= link_to '通知登録を解除する', book_bookmarks_path(@book.id),
              method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to '通知登録する', book_bookmarks_path(@book.id),
              method: :post, class: 'btn btn-primary' %>
<% end %>
<br>
<h2> 巻数情報</h2>
<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>タイトル</th>
        <th>巻数</th>
        <th>発売日</th>
      </tr>
    </thead>
    <tbody>
    <% @book_details.each do |detail| %>
      <tr>
        <td><%= detail.title %></td>
        <td><%= detail.volume %></td>
        <td><%= detail.release %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
